*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    display: grid;
    /* background-color: black; */
}


.main-header {
    font-size: 3rem;
    color: orange;
    margin: auto;
}

.apartment-card {
    /* border: solid 5px red; */
    display: grid;
}

.apartment-card h2 {
    margin: auto;
    font-size: 1.5rem;
    color: orange;
}

/* container */
.main-containe {
    /* border: solid green; */
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main-containe label {
    font-size: 25px;
}

.main-containe input {
    height: 50px;
    outline: none;
    background-color: rgba(255, 68, 0, 0.25);
    font-size: 25px;
    border: none;
    padding-left: 10px;
}

.form-button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin: 10px auto;
}
/* container */

/* main container */

.container {
    /* border: solid green 5px; */
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: .2fr .2fr .2fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 10px;
    padding: 10px;
}

.apartment-card img {
    width: 30rem;
    height: 15rem;
    /* padding: 20px; */

}

/* main container */

.textcontainer {
    /* border: solid brown 3px; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.textcontainer h2 {
    font-size: 1.3rem;
}

.buttoncontainer {
    /* border: solid 5px yellow; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.buttoncontainer button {
    width: 8rem;
    height: 6 rem;
    background-color: orange;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 1 rem 0rem;
}
